@font-face {
    font-family: 'UTM-Neutra';
    src: url('../fonts/UTM-Neutra.ttf') format('truetype');
    /* IE9 Compat Modes */
}


body {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("/img/NewBackground.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header {
    width: 100%;
    height: 60px;
    background: #f13a4c;
    text-align: center;
    margin: auto;
}



.brand {
    padding-left: 20px;
    padding-top: 20px;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.brand-text {
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7FB0E0
}

.superscript {
    position: relative;
    top: -0.5em;
    font-size: 40%;
}



.multichat {
    width: 1200px;
    height: 550px;
    margin: left;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    overflow-y: scroll;
}

.player {
    width: 250px;
    height: 550px;
    margin-right: 15px;
    right: 10px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
}



.match-css {
    display: fixed;
    margin: auto;
    width: 300px;
    height: 20px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 90px;
    top: 400px;
}


.button-intomatch {
    position: absolute;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.button-logout {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.dapanthisinh {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88%;
    z-index: -999;
}

.inline {
    display: flex;
    margin: 0.75vw;
}



.chatbar {
    border-radius: 5px 0px 0px 5px;
    border: 3px solid white;
    font-size: 12px;
    margin-top: 10px;
    width: 44vw;
    height: 5vh;
    font-weight: bold;
    border-right: none;
    font-size: calc(0.75em + 1vmin);
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ttans-preview {
    width: 33vw;
    border-radius: 0px 5px 5px 0px;
    border: 3px solid white;
    border-left: none;
    height: 5vh;
    /* padding: 0px 10px; */
    margin-top: 10px;
    font-weight: bold;
    font-size: calc(0.75em + 1vmin);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pointinm {
    position: fixed;
    margin-left: 200px;
    font-weight: bold;
}

.questions {
    display: table;
    position: absolute;
    background-color: white;
    width: 800px;
    height: 180px;
    border-radius: 25px;
    margin-left: 330px;
    border: 3px solid #000000;
    margin-top: 480px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.timer {
    width: 190px;
    height: 180px;
    position: absolute;
    border: 3px solid white;
    background-image: url("/img/backgroundobject.jpg");
    border-radius: 50%;
    margin-top: 480px;
    margin-left: 25px;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time {
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    color: white;
}


.dapan {
    margin-left: 15px;
    font-size: 1.4vw;
    font-weight: bold;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mask {
    /* clip-path: polygon(0 0, 94% 0, 100% 27%, 100% 100%, 5% 100%, 0 74%); */
    border-radius: 14px;
    background-color: black;
    position: absolute;
    opacity: 50%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    margin: auto;
    width: 480px;
    height: 130px;
    right: 0;
    border: 0.3px solid lightblue;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
}


.PlayerAnswer {
    /* background-image: url("/img/backgroundobject.jpg"); */
    /* clip-path: polygon(0 0, 94% 0, 100% 27%, 100% 100%, 5% 100%, 0 74%); */
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    color: white;
    border-radius: 14px;
    position: relative;
    margin: auto;
    width: 34vw;
    height: 9vw;
    animation-name: ts1ans;
    animation-duration: 0.5s;
    animation-delay: 1s;
    right: 0;
    border: 3px solid white;
    display: none;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ts1ans {
    animation-name: ts1ans;
    animation-duration: 0.5s;
    animation-delay: 1s;
    right: 0;
}

.ts2ans {
    animation-name: ts2ans;
    animation-duration: 0.5s;
    animation-delay: 0.75s;
    margin-top: 30px;
}

.ts3ans {
    animation-name: ts3ans;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    margin-top: 30px;
}

.ts4ans {
    animation-name: ts4ans;
    animation-duration: 0.5s;
    animation-delay: 0s;
    margin-top: 30px;
    right: 0;
}

@keyframes ts1ans {
    0% {
        bottom: 500px;
        visibility: hidden;
    }

    100% {
        bottom: 0px;
        visibility: visible;
    }
}

@keyframes ts2ans {
    0% {
        bottom: 500px;
        visibility: hidden;
    }

    100% {
        bottom: 0px;
        visibility: visible;
    }
}


@keyframes ts3ans {
    0% {
        bottom: 500px;
        visibility: hidden;
    }

    100% {
        bottom: 0px;
        visibility: visible;
    }
}


@keyframes ts4ans {
    0% {
        bottom: 500px;
        visibility: hidden;
    }

    100% {
        bottom: 0px;
        visibility: visible;
    }
}


.container {
    position: relative;
}



.pointt {
    margin-left: auto;
    font-size: 1.75vw;
    font-weight: bolder;
    padding: 12px;
}



#tt1 {
    width: 78vw;
    height: 80vh;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tt2 {
    width: 78vw;
    height: 80vh;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tt3 {
    width: 78vw;
    height: 80vh;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tt4 {
    width: 78vw;
    height: 80vh;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timestamp {
    font-size: 1.4vw;
    margin-right: 18px;
    font-weight: 300;
}


#dapan {}

.user-answer-timestamp {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}

#timestamp {
    color: white;
}

.namett {
    font-size: 1.15vw;
    font-weight: 400;
}

input[type=text]:disabled {
    color: whitesmoke;
}

.pre-class {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#blur-notify {
    filter: none;
    color: white;
    background-color: black;
    font-size: 20px;
    position: fixed;
    display: none;
    top: 40%;
    left: 34%;
    z-index: 1;
    font: bolder;
}

.image-question {
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px solid white;
    color: white;
    width: 78vw;
    min-height: 60px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    animation: zoomIn 0.75s ease-out forwards;
    transform-origin: top left;
    transform: scaleY(0);
    display: none;
    text-align: center;
    vertical-align: middle;
    font-size: calc(0.8em + 1vmin);
    font-weight: bold;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.image {
    width: 78vw;
    height: 78vh;
    margin-top: 10px;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.image::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: var(--timer-width, 0%);
    height: 10px;
    background: linear-gradient(109.6deg, rgb(162, 2, 63) 11.2%, rgb(231, 62, 68) 53.6%, rgb(255, 129, 79) 91.1%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: width 0.1s linear;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.tsimg {
    width: 3.25vw;
    height: 3.25vw;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.75vw;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 56, 58);
}

.pre-class {
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.notification {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
}

@keyframes in {
    0% {
        position: fixed;
        bottom: 0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom: 60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom: 35px;
        visibility: visible;
    }
}

#notification-text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-family: 'Baloo 2', cursive;
}

textarea:focus, input:focus {
    outline: none;
}

.ans-group {
    display: flex;
    justify-content: center;
    animation: zoomIn 0.75s ease-out forwards;
    transform-origin: top left;
    transform: scaleY(0);
    display: none;
}

.competition-name {
    font-family: 'UTM-Neutra';
    font-size: 8vw;
    font-weight: bold;
    color: white;
    padding: 120px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    animation: none !important;
}