@font-face {
    font-family: 'UTM-Neutra';
    src: url('../fonts/UTM-Neutra.ttf') format('truetype');
    /* IE9 Compat Modes */
}



body {
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'UTM-Neutra';
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Set the height of the body to the full viewport height */
    margin: 0;
    /* Remove default margin */
}

.large-text {
    font-size: 6vw;
    color: white;
    /* text-shadow: 2px 2px gray; */
    padding: 120px;
    text-align: center;
    display: none;
}

.inline-result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    display: none;
}

.imgts {
    width: 18vw;
    height: 18vw;
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
}

.tsname {
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 1.5vw;
}

.pointts {
    text-align: center;
    color: white;
    font-size: 2.3vw;
}


.header {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 1px;
    top: 0px;
}

#matchname {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}


.notification {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
    z-index: 1;
}

@keyframes in {
    0% {
        position: fixed;
        bottom: 0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom: 60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom: 35px;
        visibility: visible;
    }
}

#notification-text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
}