body {
    background-color: #121921;
}

input {
    color: white;
}

p{
    font-family: 'Baloo 2', cursive;
}


span{
    font-family: 'Baloo 2', cursive;
}

.brand {
    padding-left: 20px;
    padding-top: 20px;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.brand-text {
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7FB0E0
}
.match {
    width: 100%;
    height: 49px;
    background-color: #121921;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.playername{
    font-weight: bold;
}

.superscript {
    position: relative;
    top: -0.5em;
    font-size: 40%;
}


.avatar {
    margin-left: 10px;
    width: 350px;
    height: 400px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
}

.notification{
    position: fixed; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 408px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
    z-index: 1;
}

@keyframes in {
    0% {
        position: fixed;
        bottom:0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom:60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom:35px;
        visibility: visible;
    }
}

#notification-text{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-family: 'Baloo 2', cursive;
}




.match-css {
    display: fixed;
    margin: auto;
    width: 300px;
    height: 20px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 90px;
    top: 400px;
}



.findbtn {
    background-color: #5E35B1 !important;
}

.button {
    width: 150px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
}

.button-intomatch {
    position: absolute;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.button-logout {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.button-changeinfo {
    position: absolute;
    right: 0;
    top: 110px;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.btn-update{
    background: #036768;
    font-family: 'Baloo 2', cursive;
    height: 30px;
    font-size: 16px;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    margin-left: 3px;
    font-size: 14px;
}


.btn-update:hover{
    background-color:rgba(0,0,0,0.5);
}

.inline {
    display: flex;
    margin: 10px;
}

.blog {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
    height: 10000px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 30px;
}

.header-name {
    font-family: 'Baloo 2', cursive;
    font-size: 35px;
    font-weight: 500;
    margin-left: 50px;
}


#product-logo{
    position: absolute;
    width: 32px;
    left: 10px;
    top:10px;
}