body {
    background-color: #121921;
    margin: 0px;
    font-family: 'Baloo 2',cursive;
}



.brand {
    padding-left: 20px;
    padding-top: 20px;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    --user-select: none;
    user-select: none;
}

.brand-text {
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7FB0E0;
}

.superscript {
    position: relative;
    top: -0.5em;
    font-size: 40%;
}




.multichat {
    width: 77.5vw;
    height: 74vh;
    position: fixed;
    margin: left;
    background: #171E28;
    overflow-y: auto;
    top: 100px;
    margin-left: 10px;
    border-radius: 10px;
    overflow-x: hidden;
}

.player {
    width: 18vw;
    height: 74vh;
    margin-right: 20px;
    position: fixed;
    right: 10px;
    background: #171E28;
    border-radius: 10px;
    top: 100px;
}



.match-css {
    display: fixed;
    margin: auto;
    width: 300px;
    height: 20px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 90px;
    top: 400px;
}



.button-intomatch {
    position: absolute;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.button-logout {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}



.inline {
    display: flex;
    margin: 10px;
}

.chatbar {
    position: fixed;
    font-size: 0.75vw;
    bottom: 5vh;
    left: 1%;
    width: 97vw;
    height: 5vh;
    background-color: #171E28;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    border: none;
    border: 2px;
}
textarea:focus, input:focus{
    outline: none;
}
/* 
.chatbar:focus{
    border: 2px solid white;
    outline: none;
} */


::placeholder{
    font-weight: 50;
    color: white;
}

.pointinm {
    right: 0;
    font-size: 1vw;
    margin-left: auto;
    padding-left:4px;
    font-weight: bold;
    color:#009A9C;
    font-family: 'Baloo 2', cursive;
}

.emo {
    width: 300px;
    height: 300px;
    background-color: white;
    position: absolute;
    margin-bottom: 300px;
    z-index: 100;
    margin-left: 1150px;
    margin-top: 360px;
    border: 3px solid #000000;
    display: none;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.header {
    position: absolute;
    background-color: #121921;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 49px;
    top:0px;
}

#matchname {
    color: white;
    position: fixed;
    font-size: 25px;
    top: -17px;
    left: 50px;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
}

#hostname {
    color: white;
    font-weight: 100;
    position: fixed;
    font-size: 14px;
    top: 50px;
    left: 22px;
    font-family: 'Baloo 2', cursive;
}

.leavebutton {
    width: 100px;
    height: 34px;
    text-align: center;
    background: #036768;
    position: absolute;
    top: 8px;
    color: white;
    right: 10px;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
}

.leavebutton:hover{
    background-color:rgba(0,0,0,0.5);
}
.resultbutton{
    width: 100px;
    height: 34px;
    text-align: center;
    background: #036768;
    position: absolute;
    top: 8px;
    color: white;
    right: 120px;
    font-size: 13px;
    border-radius: 10px;
}

.resultbutton:hover{
    background-color:rgba(0,0,0,0.5);
}

.button-text{
    margin-top: 7px;
    font-weight: bold;
    font-size: 14px;
}

#ketquabtn {
    cursor: pointer;
}

.tsimg {
    object-fit: cover;
    width: 3vw;
    height: 3vw;
    border: 3px solid #036768;
    border-radius: 50%;
    padding:2px;
}


.contestants {
    font-size: 1.45vw;
    text-align: center;
    font-weight: bold;
    color: #31B3B5;
    font-family: 'Baloo 2', cursive;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 56, 58);
}

#product-logo{
    position: absolute;
    width: 32px;
    margin-left: 10px;
    margin-top:10px;
}
#backtomain {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color:white;
    margin-top: 7px;
}

.playername{
    font-size: 1vw;
    color:#6ce3e5;
    font-family: 'Baloo 2', cursive;
}

.notification{
    position: fixed; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
}

@keyframes in {
    0% {
        position: fixed;
        bottom:0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom:60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom:35px;
        visibility: visible;
    }
}

#notification-text{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-family: 'Baloo 2', cursive;
}

.chat-msg-player p{
    margin-left:10px;
    font-size:14px;
    line-height: 1.0;
    color:#31B3B5;
    font-family: 'Baloo 2', cursive;
}

.chat-msg-host p{
    margin-left:10px;
    font-size:14px;
    line-height: 1.0;
    color:#4cdbdd;
    font-family: 'Baloo 2', cursive;
}

.chat-msg-admin p{
    margin-left:10px;
    font-size:14px;
    line-height: 1.0;
    color:hsl(181, 70%, 66%);
    font-family: 'Baloo 2', cursive;
}

.chat-msg-system p{
    margin-left:10px;
    font-size:14px;
    line-height: 1.0;
    color:#31B3B5;
    font-family: 'Baloo 2', cursive;
}

