/* Thay đổi màu body */



body {
    /* background-color: #121921; */
    height: 100vh;
    margin: 0px;
    background: linear-gradient(to left top, #2641c2, #adf7f2) no-repeat center fixed;
}

.body {
    /* background-color: #121921; */
    margin: 0px;
    padding: 14px;
}

.header {
    /* background-color: #121921; */
    width: 100%;
    height: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.superscript {
    position: relative;
    top: -0.5em;
    font-size: 40%;
}


/* .avatar {

    margin-left: 10px;
    width: 350px;
    height: 450px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
} */


.match-css {
    display: fixed;
    margin: auto;
    width: 300px;
    height: 20px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 90px;
    top: 400px;
}


.inline {
    display: flex;
    position: absolute;
}

.header-title {
    position: absolute;
    margin-top: 18px;
    margin-left: 0px;
    font-size: 20px;
    position: absolute;
    /* color: black; */
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    left: 110px;
    /* color: #ffffff; */
    z-index: 1;
    color: #1A2B3B;
}

#product_image {
    position: absolute;
    color: black;
    width: 40px;
    text-align: left;
    top: 13px;
    left: 50px;
    color: #ffffff;
    z-index: 1;
}

.returnbutton {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 40px;
    width: 120px;
    height: 39px;
    background: #036768;
    border-radius: 10px;
    display: block;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.joinmatchbutton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

#backtomain {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

#name {
    position: absolute;
    text-align: center;
    width: 230px;
    margin-left: 320px;
    z-index: 1;
}

#password {
    position: absolute;
    text-align: center;
    width: 230px;
    margin-left: 320px;
    z-index: 1;
}

.user-name {
    position: absolute;
    margin-top: 200px;
    color: black;
    width: 480px;
    color: white;
}

.password {
    position: absolute;
    margin-top: 290px;
    color: black;
    width: 480px;
    color: white;
}


.confirm {
    position: absolute;
    margin-top: 202px;
    margin-left: 560px;
    background-color: #31B3B5;
    outline: none;
    border: none;
    border-radius: 25px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
}

.confirm:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.confirm-password {
    position: absolute;
    margin-top: 290px;
    margin-left: 560px;
    background-color: #31B3B5;
    outline: none;
    border: none;
    border-radius: 25px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
}

.confirm-password:hover {
    background-color: rgba(0, 0, 0, 0.5);
}



#changenamecfbtn {
    background-color: #053F5E;
}

#changeavatarcfbtn {
    background-color: #053F5E;
    margin-top: 10px;
}

.description {
    font-size: 19px;
    font-weight: bold;
}

#update-success {
    color: hsl(230, 30%, 31%);
}

#update-fail {
    color: red;
}

#img {
    background-color: #31B3B5;
    position: absolute;
    width: 200px;
    height: 190px;
    object-fit: cover;
    border: 3px solid #31B3B5;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin-left: 32px;
    margin-top: 200px;
    cursor: pointer;
}

#gallery-edit {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin-left: 110px;
    margin-top: 270px;
    cursor: pointer;
    display: none;
}

#img:hover {
    -webkit-filter: brightness(80%);
    /* Safari 6.0 - 9.0 */
    filter: brightness(80%);
}

#img:hover~#gallery-edit {
    display: block;
}

.avatar-title {
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    margin-top: 140px;
    font-size: 25px;
    margin-left: 30px;
    padding-bottom: 5px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info-title {
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    margin-top: 140px;
    font-size: 25px;
    margin-left: 330px;
    padding-bottom: 5px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.password-title {
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    margin-top: 250px;
    font-size: 25px;
    margin-left: 330px;
    padding-bottom: 5px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.current-match-title {
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    margin-top: 85px;
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 32px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notification {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
    z-index: 1;
}

@keyframes in {
    0% {
        position: fixed;
        bottom: 0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom: 60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom: 35px;
        visibility: visible;
    }
}

#notification-text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-family: 'Baloo 2', cursive;
}

p {
    font-family: 'Baloo 2', cursive;
}


input[type=file] {
    color: white;
}

input::file-selector-button {
    background-color: #46515f;
    color: white;
    font-size: 14px;
    font-family: 'Baloo 2', cursive;
    font-weight: 300;
    border: none;
    border-radius: 10px;
}

input[type=text] {
    background-color: #171E28;
    color: #6ce3e5;
    font-size: 14px;
    font-family: 'Baloo 2', cursive;
    font-weight: 300;
    border: none;
    border-radius: 10px;
}

textarea {
    background-color: #171E28;
    color: #6ce3e5;
    font-size: 14px;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    width: 50vw;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}


input[type=text]:focus {
    border: 1px solid white;
    outline: none;
}

button {
    background: #036768;
    font-family: 'Baloo 2', cursive;
    height: 35px;
    min-width: 120px;
    width: fit-content;
    font-size: 16px;
    border: 1px solid black;
    color: white;
    border-radius: 14px;
    cursor: pointer;
}

/* h1, h2, p {
    color: white;
    font-family: 'Baloo 2', cursive;
} */

.game-background {
    background: url('/img/NewBackground.png');
    width: 80vw;
    height: 45vh;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}


.part-name {
    color: #1A2B3B;
    font-family: 'Baloo 2', cursive;
}

.part-description {
    color: #1A2B3B;
    font-family: 'Baloo 2', cursive;
}

/*Start*/

.Start {
    font-family: 'Cabin', sans-serif;
    color: white;
}

.object-inline {
    justify-content: space-between;
}

.question-listplayer {
    display: flex;
    flex-direction: row;
}

.StartQuestionPreview {
    overflow-y: none;
    padding: 8px;
    border: 4px solid white;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    width: 65vw;
    min-height: 32vh;
    margin-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* clip-path: polygon(0 0, 94% 0, 100% 12%, 100% 100%, 7% 100%, 0 89%); */
    border-radius: 14px;
    backdrop-filter: blur(9px);
    position: relative;
    animation-delay: 1s;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09)
}


.ts-list {
    min-height: 32vh;
    width: 22vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.StartCompetitorPreview {
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: 4px solid white;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border-radius: 14px;
    min-height: 8vh;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09)
}

.tsimg {
    border-radius: 50%;
    object-fit: cover;
    width: 2vw;
    height: 2vw;
    margin-left: 15px;
}


.tsname {
    font-weight: 300;
    margin-left: 10px;
    font-size: 1.2vw;
    text-align: center;
}

.tspoint {
    margin-left: auto;
    font-size: 1.5vw;
    margin-right: 10px;
}

.qsnum {
    font-size: 1vw;
    margin-left: 15px;
}

.qs {
    font-size: 1.5vw;
    margin-top: 12px;
    vertical-align: center;
}


#time3s {
    position: absolute;
    color: white;
    font-size: 48px;
    bottom: 0;
    right: 0;
}


/* Obstacle */

.Obstacle {
    font-family: 'Cabin', sans-serif;
    color: white;
}


#vcnvimage {
    width: 70vh;
    height: 50vh;
    z-index: -1;
    border-radius: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    object-fit: cover;
    border: 3px solid white;
}


.container {
    position: relative;
    display: inline-block;
}

.ObstacleOverlayPreview {
    position: absolute;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px white solid;
}

.ObstacleOverlayPreview.top-left::before {
    content: "1";
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 4vw;
    font-weight: bold;
}

.ObstacleOverlayPreview.top-right::before {
    content: "2";
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 4vw;
    font-weight: bold;
}

.ObstacleOverlayPreview.bottom-right::before {
    content: "3";
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 4vw;
    font-weight: bold;
}

.ObstacleOverlayPreview.bottom-left::before {
    content: "4";
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 4vw;
    font-weight: bold;
}

.ObstacleOverlayPreview.top-left {
    top: 0;
    left: 0;
    width: 36vh;
    height: 26vh;
    clip-path: polygon(0% 20%, 0 0, 100% 0, 100% 49%, 52% 50%, 52% 100%, 0 100%);
    border-radius: 14px 0px 0px 0px;
}

.ObstacleOverlayPreview.top-right {
    top: 0;
    right: 0;
    width: 35vh;
    height: 26vh;
    clip-path: polygon(0 0, 100% 0, 100% 19%, 100% 100%, 51% 100%, 51% 49%, 0 49%);
    border-radius: 0px 14px 0px 0px;
}

.ObstacleOverlayPreview.bottom-left {
    bottom: 0px;
    left: 0;
    width: 36vh;
    height: 26vh;
    clip-path: polygon(0% 20%, 0 0, 53% 0, 53% 50%, 100% 50%, 100% 100%, 0 100%);
    border-radius: 0px 0px 0px 14px;
}

.ObstacleOverlayPreview.bottom-right {
    bottom: 0px;
    left: 0;
    width: 36vh;
    height: 26vh;
    clip-path: polygon(0 50%, 51% 50%, 51% 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
    border-radius: 0px 0px 14px 0px;
    display: none;
}

.ObstacleOverlayPreview.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36.4vh;
    height: 26vh;
    z-index: 1;
}


.ObstacleRowPreview {
    min-width: 51vw;
    max-width: 55vw;
    height: 49.5vh;
    margin-left: 10px;
    background-image: url("/img/backgroundobject.jpg");
    text-align: center;
    font-size: 35px;
    border: 4px solid white;
    border-radius: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cnvdapan {
    font-size: 1.25vw;
    line-height: 1.0em;
    font-weight: bold;
}

.obstacle-row {
    display: flex;
}

.obstacle-row-number-container {}

.obstacle-row-number {
    font-size: 27px;
    font-style: normal;
    text-align: center;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

.obstacle-row-number-object {
    min-width: 2.5vw;
    height: 5vh;
    margin-top: 2.5vh;
    margin-left: auto;
    margin-right: 14px;
    border-radius: 8px;
    background-color: transparent;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ansbubble {
    width: 5vh;
    height: 5vh;
    border: 3px solid white;
    border-radius: 50%;
    background-image: url('/img/ansbubble-nonopen.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.HN {
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.HNNumber {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-image: url("/img/backgroundobject.jpg");
    right: 12px;
}

.HNNumber>a {
    color: white;

}

.HN>div {
    margin: 2px;
    margin-top: 2.5vh;
}


.ans-text {
    font-size: 27px;
    /* color: #053F5E; */
    font-style: normal;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#chuongts-list {
    display: flex;
    margin-left: auto;
    margin-top: 5px;
    min-height: 7vh;
}

.ObstacleAnswerRightsPreview {
    padding-right: 20px;
    height: 3vw;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border-radius: 3vw;
    border: 3px solid white;
    /* Adjust margin as needed */
    display: flex;
    align-items: center;
    /* Align items vertically */
}


.chuongtsimg {
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
    object-fit: cover;
}

.bar {
    display: flex;
    margin-top: 10px;
}

.ObstacleQuestionPreview {
    overflow-y: scroll;
    display: table;
    background-color: white;
    color: white;
    width: 84.5vw;
    height: 26vh;
    border-radius: 10px;
    border: 4px solid white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    position: relative;
    overflow: hidden;
}

.ObstacleQuestionPreview::after {
    content: '';
    position: absolute;
    bottom: -3px;
    /* Adjust to align with the bottom border */
    left: 0;
    width: 100%;
    height: 1.4vh;
    /* Same height as the border */
    background: linear-gradient(109.6deg, rgb(162, 2, 63) 11.2%, rgb(231, 62, 68) 53.6%, rgb(255, 129, 79) 91.1%);
    /* Timer color */
    border-bottom-left-radius: 4px;
    /* Match border radius */
    border-bottom-right-radius: 4px;
    /* Match border radius */
    transition: width 0.1s linear;
}

.tsanchuongname {
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    padding-left: 14px;
}

#question {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

.ObstacleCompetitorAnswerPreview {
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    position: relative;
    width: 34vw;
    height: 9vw;
    border: 3px solid lightblue;
    filter: none;
    -webkit-filter: none;
    border-radius: 14px;
    /* clip-path: polygon(0 0, 94% 0, 100% 30%, 100% 100%, 5% 100%, 0 70%); */
    animation-name: ts1ans;
    animation-duration: 1.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
}

.ts-info {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 1.25vw;
}


.dapan {
    font-family: 'Cabin', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1.5vw;
    font-size: 1.25vw;
    font-weight: bold;
    width: 90%;
    margin-top: 10px;
}

/*Acceleration*/

.Acceleration {
    font-family: 'Cabin', sans-serif;
    color: white;
}

.AccelerationQuestionPreview {
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px solid white;
    color: white;
    width: 78vw;
    min-height: 60px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1.10vw;
    font-weight: bold;
    display: flex;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.AccelerationQuestionMediaPreview {
    width: 78vw;
    height: 78vh;
    margin-top: 10px;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.AccelerationQuestionMediaPreview::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(109.6deg, rgb(162, 2, 63) 11.2%, rgb(231, 62, 68) 53.6%, rgb(255, 129, 79) 91.1%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: width 0.1s linear;
}


.AccelerationCompetitorAnswerPreview {
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    /* clip-path: polygon(0 0, 94% 0, 100% 27%, 100% 100%, 5% 100%, 0 74%); */
    border-radius: 14px;
    position: relative;
    width: 34vw;
    height: 9vw;
    animation-name: ts1ans;
    animation-duration: 0.5s;
    animation-delay: 1s;
    right: 0;
    border: 3px solid white;
    margin-top: 10px;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.AccelerationCompetitorInfo {
    display: flex;
    margin: 0.75vw;
}

.namett {
    font-size: 1.15vw;
    font-weight: 400;
    margin-left: 14px;
}

.pointt {
    margin-left: auto;
    font-size: 1.75vw;
    font-weight: bolder;
    padding: 12px;
}

.user-answer-timestamp {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}

.timestamp {
    font-size: 1.3vw;
    margin-right: 18px;
    font-weight: 300;
}



.AccelerationCompetitorInfoImage {
    width: 3.25vw;
    height: 3.25vw;
    border-radius: 50%;
    object-fit: cover;
}


.AccelerationCompetitorInfoAnswer {
    margin-left: 15px;
    font-size: 1.3vw;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Finish*/

.Finish {
    font-family: 'Cabin', sans-serif;
    color: white;
}


.FinishQuestionPack {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.FinishQuestionPackPreview {
    width: 14vw;
    min-height: 16vh;
    background: linear-gradient(120deg, rgba(0, 56, 127, 1) 0%, rgba(0, 56, 127, 1) 100%);
    /* right: 0;
    margin-right: 150px;
    margin-top: 15px; */
    color: white;
    border: 4px solid white;
    /* clip-path: polygon(0 0, 89% 0, 100% 15%, 100% 100%, 17% 100%, 0 85%, 0 57%); */
    border-radius: 14px;
}

.point-qp {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}


.FinishQuestionPackChooseSquarePreview {
    background: linear-gradient(120deg, rgba(0, 56, 127, 1) 0%, rgba(0, 56, 127, 1) 100%);
    width: 2.4vw;
    height: 2.4vw;
    /* right: 0;
    margin-top: 15px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
}

.tick {
    width: 2.2vw;
    margin: auto;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
}

.FinishQuestionAndPlayers {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.FinishCompetitorList {
    display: flex;
    position: relative;
    margin-bottom: 14px;
    gap: 10px;
}


.FinishCompetitorPreview {
    min-width: 14vw;
    background: linear-gradient(220deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 100%);
    min-height: 8vh;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    border: 4px solid white;
    border-radius: 14px;
    color: white;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.FinishQuestionAndCompetitor {
    display: flex;
    justify-content: space-between;
}

.FinishQuestionPreview {
    width: 65vw;
    min-height: 32vh;
    padding: 8px;
    margin-right: 10px;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px solid white;
    border-radius: 14px;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
}

.FinishQuestionPreview::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 100%;
    height: 1.3vh;
    background: linear-gradient(109.6deg, rgb(162, 2, 63) 11.2%, rgb(231, 62, 68) 53.6%, rgb(255, 129, 79) 91.1%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: width 0.1s linear;
}

.FinishFinishingCompetitorPreview {
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    display: flex;
    border: 4px solid white;
    border-radius: 14px;
    padding: 18px;
    min-height: 32vh;
    align-items: center;
    width: 22vw;
    /* clip-path: polygon(0 0, 93% 1%, 100% 31%, 100% 100%, 6% 100%, 0 69%); */
    color: white;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#ngoisao {
    position: absolute;
    right: -5vw;
    top: -6vh;
    width: 18vw;
    height: 10vw;
    z-index: 2;
    margin-right: auto;
    margin-top: auto;
}

#chuong {
    outline: none;
    min-width: 14vw;
    font-size: 1vw;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    min-height: 6vh;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    background: linear-gradient(101deg, rgba(38, 169, 225, 1) 0%, rgba(66, 132, 234, 1) 96%);
    margin-left: auto;
    border-radius: 14px;
    border: 4px solid white;
    position: relative;
    font-family: 'Cabin', sans-serif;
    /* moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; */
}

#questionnumber {
    margin-left: 15px;
    font-size: 1vw;
}


#question1 {
    font-size: 1.4vw;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}

.playervdimage {
    display: block;
    width: 2.25vw;
    height: 2.25vw;
    margin: center;
    text-align: center;
    margin-left: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.ttname {
    font-size: 1.25vw;
    font-weight: 400;
    padding-left: 10px;
}

.ttpoint {
    margin-left: auto;
    font-size: 1.25vw;
    margin-right: 10px;
    padding-left: 12px;
}


#tt0 {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    object-fit: cover;
}

#tsvdname {
    font-weight: 400;
    font-size: 1.25vw;
    padding-left: 14px;
}


#tsvdpoint1 {
    font-size: 1.75vw;
    right: 0;
    margin-left: auto;
    padding-left: 10px;
}


/*Point Summary*/

.object-container {
    /* Make this the containing block for absolutely positioned elements */
    top: 10vh;
    color: white;
}

.PointSummaryPointObjectPreview {
    width: 33vw;
    height: 18vh;
    border-radius: 14px;
    border: 4px solid white;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

.player-image {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    object-fit: cover;
}

.player-name {
    font-size: 1vw;
}



.PointSummaryCompetitorObjectPreview {
    width: 33vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    gap: 10px;
    padding: 3px;
    border-radius: 14px;
    z-index: 1;
    background: linear-gradient(240deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 100%);
    background-position: 100%;
    border: 4px solid white;
    top: -50px;
    left: 9%;
}

.input-name {
    color: white;
    font-size: 1vw;
    font-weight: 500;
    margin-left: 15px;
}

a{
    color: white;
}

a:visited {
    color: white;
}