@font-face {
    font-family: 'UTM-Neutra';
    src: url('../fonts/UTM-Neutra.ttf') format('truetype');
    /* IE9 Compat Modes */
}


body {
    margin: 24px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b140;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.brand {
    padding-left: 20px;
    padding-top: 20px;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.object-inline {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 48px;
}

.brand-text {
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7FB0E0
}

.superscript {
    position: relative;
    top: -0.5em;
    font-size: 40%;
}

.multichat {
    width: 1200px;
    height: 550px;
    margin: left;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    overflow-y: scroll;
}

.player {
    width: 250px;
    height: 550px;
    margin-right: 15px;
    right: 10px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
}



.match-css {
    display: fixed;
    margin: auto;
    width: 300px;
    height: 20px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 90px;
    top: 400px;
}


.button-intomatch {
    position: absolute;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.button-logout {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}



.inline-result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chat {
    margin-left: 12px;
    margin-top: 30px;
    width: auto;
}

.chatbar {
    width: 1460px;
    height: 20px;
    border-radius: 5px;
    border: 3px solid #000000;
}

.pointinm {
    position: fixed;
    margin-left: 200px;
    font-weight: bold;
}

.ts4-point {
    background-color: white;
    position: relative;
    width: 480px;
    height: 120px;
    border-radius: 25px;
    margin: auto;
    visibility: hidden;
    animation-name: ts4point;
    animation-duration: 2s;
    animation-delay: 3s;
    top: 170px;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes ts4point {
    0% {
        top: 0px;
        visibility: visible;
    }

    100% {
        top: 170px;
        visibility: visible;
    }
}

.ts3-point {
    background-color: white;
    position: relative;
    width: 480px;
    height: 120px;
    border-radius: 25px;
    margin: auto;
    visibility: hidden;
    animation-name: ts3point;
    animation-duration: 2s;
    animation-delay: 6s;
    top: 360px;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes ts3point {
    0% {
        top: 0px;
        visibility: visible;
    }

    100% {
        top: 120px;
        visibility: visible;
    }
}

.ts2-point {
    background-color: white;
    position: relative;
    width: 480px;
    height: 120px;
    border-radius: 25px;
    margin: auto;
    visibility: hidden;
    animation-name: ts2point;
    animation-duration: 2s;
    animation-delay: 10s;
    top: 80px;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes ts2point {
    0% {
        top: 0px;
        visibility: visible;
    }

    100% {
        top: 80px;
        visibility: visible;
    }
}

.ts1-point {
    background-color: white;
    position: relative;
    width: 480px;
    height: 120px;
    border-radius: 25px;
    margin: auto;
    visibility: hidden;
    animation-name: ts1point;
    animation-duration: 2s;
    animation-delay: 13s;
    top: 30px;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes ts1point {
    0% {
        top: 0px;
        visibility: visible;
    }

    100% {
        top: 30px;
        visibility: visible;
    }
}

#pointt1 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    margin-left: 12px;
    margin-top: 15px;
}

#pointtt1 {
    margin-top: 45px;
}

#namett1 {
    margin-left: 100px;
    position: absolute;
    margin-top: 50px;
    font-size: 20px;
}

#pointt2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    margin-left: 12px;
    margin-top: 15px;
}

#pointtt2 {
    margin-top: 45px;
}

#namett2 {
    margin-left: 100px;
    position: absolute;
    margin-top: 50px;
    font-size: 20px;
}

#pointt3 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    margin-left: 12px;
    margin-top: 15px;
}

#pointtt3 {
    margin-top: 45px;
}

#namett3 {
    margin-left: 100px;
    position: absolute;
    margin-top: 50px;
    font-size: 20px;
}

#pointt4 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    margin-left: 12px;
    margin-top: 15px;
}

#pointtt4 {
    margin-top: 45px;
}

#namett4 {
    margin-left: 100px;
    position: absolute;
    margin-top: 50px;
    font-size: 20px;
}

.bar {
    width: 30px;
    height: 85%;
    background-image: url("/img/backgroundobject.jpg");
    position: absolute;
    right: 0;
    margin-right: 100px;
    border-radius: 10px;
    display: none;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.qp10 {
    width: 14vw;
    height: 150px;
    background-image: url("/img/backgroundobject.jpg");
    /* right: 0;
    margin-right: 150px;
    margin-top: 15px; */
    color: white;
    border: 4px solid white;
    /* clip-path: polygon(0 0, 89% 0, 100% 15%, 100% 100%, 17% 100%, 0 85%, 0 57%); */
    border-radius: 14px;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.qp20 {
    width: 14vw;
    height: 150px;
    background-image: url("/img/backgroundobject.jpg");
    /* right: 0;
    margin-right: 150px;
    margin-top: 200px; */
    color: white;
    border: 4px solid white;
    /* clip-path: polygon(0 0, 89% 0, 100% 15%, 100% 100%, 17% 100%, 0 85%, 0 57%); */
    border-radius: 14px;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.qp30 {
    width: 14vw;
    height: 150px;
    background-image: url("/img/backgroundobject.jpg");
    /* right: 0;
    margin-right: 150px;
    margin-top: 390px; */
    color: white;
    border: 4px solid white;
    /* clip-path: polygon(0 0, 89% 0, 100% 15%, 100% 100%, 17% 100%, 0 85%, 0 57%); */
    border-radius: 14px;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox1qp10 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 15px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox2qp10 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 70px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox3qp10 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 125px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox1qp20 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 200px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox2qp20 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 255px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox3qp20 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 310px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox1qp30 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 390px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox2qp30 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 445px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.checkbox3qp30 {
    background-image: url("/img/backgroundobject.jpg");
    width: 40px;
    height: 40px;
    /* right: 0;
    margin-top: 500px;
    margin-right: 330px; */
    border-radius: 10px;
    border: 4px solid white;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    animation: zoomIn 0.75s ease-out forwards;
    display: none;
}

.tick {
    width: 35px;
    margin-left: 3px;
    margin-top: 1px;
    display: none;
}

.playertt {
    min-width: 14vw;
    background: linear-gradient(120deg, rgba(0, 56, 127, 1) 0%, rgba(0, 56, 127, 1) 100%);
    min-height: 8vh;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    border: 4px solid white;
    border-radius: 14px;
    color: white;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    /* display: none; */
    animation: appear 0.75s ease-out forwards;
    opacity: 0;
    transform: translateY(100%);
}

#playertt1 {
    animation-delay: 1.75s;
}

#playertt2 {
    animation-delay: 2s;
    /* Adjust the delay as needed */
}

#playertt3 {
    animation-delay: 2.25s;
    /* Adjust the delay as needed */
}

#playertt4 {
    animation-delay: 2.5s;
    /* Adjust the delay as needed */
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.timer {
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url("/img/backgroundobject.jpg");
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 35px;
    border: 4px solid white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time {
    text-align: center;
    line-height: 30px;
    font-size: 60px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question {
    width: 65vw;
    min-height: 30vh;
    padding: 8px;
    margin-right: 10px;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px solid white;
    border-radius: 14px;
    color: white;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: zoomIn 0.75s ease-out forwards;
    transform-origin: bottom left;
    transform: scaleY(0);
    opacity: 0;
    /* display: none; */
    position: relative;
    overflow: hidden;
    /* Ensure positioning context for the slider */
}


.question::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: var(--timer-width, 0%);
    height: 1.3vh;
    background: linear-gradient(109.6deg, rgb(162, 2, 63) 11.2%, rgb(231, 62, 68) 53.6%, rgb(255, 129, 79) 91.1%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: width 0.1s linear;
}


@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.question-info {
    position: absolute;
    top: 54%;
    left: 73%;
    width: 25%;
    height: 300px;
    background-image: url("/img/backgroundobject.jpg");
    background-position: center;
    color: white;
    border: 3px solid white;
    border-radius: 14px;
    /* clip-path: polygon(0 0, 91% 0, 100% 10%, 100% 100%, 7% 100%, 0 88%, 0 57%); */
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playervdimage {
    display: block;
    width: 2.25vw;
    height: 2.25vw;
    margin: center;
    text-align: center;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 14px;
}

#question1 {
    font-size: calc(1.2em + 1vmin);
    text-align: justify;
    text-justify: inter-word;
}

#questionnumber {
    margin-left: 15px;
    font-size: calc(0.7em + 1vmin);
}

#turn {
    position: relative;
    margin-left: 20px;
    line-height: 50px;
}

#tsvdname {
    font-weight: 400;
    font-size: 20px;
}

#tt0 {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#tsvdpoint1 {
    font-size: 30px;
    right: 0;
    margin-left: auto;
}

#tsvdpoint2 {
    font-size: 30px;
    right: 0;
    margin-left: auto;
}

#tsvdpoint3 {
    font-size: 30px;
    right: 0;
    margin-left: auto;
}

#tsvdpoint4 {
    font-size: 30px;
    right: 0;
    margin-left: auto;
}

#gianhquyen {
    text-align: center;
}

#ngoisao {
    position: absolute;
    right: 0px;
    bottom: 28vh;
    width: 240px;
    height: 200px;
    z-index: 1;
    display: none;
    margin-right: auto;
}

.ttname {
    font-size: calc(0.75em + 1vmin);
    font-weight: 400;
    padding-left: 10px;
    margin-right: 14px;
}

.ttpoint {
    margin-left: auto;
    font-size: calc(0.75em + 1vmin);
    margin-right: 10px;
    padding-left: 24px;
}

.point-qp {
    text-align: center;
    font-size: 50px;
}

.final-video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 56, 58);
}

#chuong {
    outline: none;
    min-width: 14vw;
    font-size: calc(0.6em + 1vmin);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    min-height: 6vh;
    text-align: center;
    border: none;
    background: linear-gradient(101deg, rgba(38,169,225,1) 0%, rgba(66,132,234,1) 96%);
    margin-left: auto;
    border-radius: 14px;
    border: 4px solid white;
    position: relative;
    font-family: 'Cabin', sans-serif;
    /* moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; */
    /* display: none; */
    animation: appear 0.75s ease-out forwards;
    opacity: 0;
    animation-delay: 2.75s;
}

#chuong:hover {
    cursor: pointer;
}



.pre-class {
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.notification {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
    z-index: 1;
}

@keyframes in {
    0% {
        position: fixed;
        bottom: 0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom: 60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom: 35px;
        visibility: visible;
    }
}

#notification-text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-family: 'Baloo 2', cursive;
}

.currentplayer {
    background: linear-gradient(290deg, rgb(10, 70, 148) 30%, rgba(0, 177, 255, 1) 150%);
    display: flex;
    border: 4px solid white;
    color: white;
    border-radius: 14px;
    padding: 18px;
    min-height: 30vh;
    align-items: center;
    width: 22vw;
    /* clip-path: polygon(0 0, 93% 1%, 100% 31%, 100% 100%, 6% 100%, 0 69%); */
    color: white;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: zoomIn 0.75s ease-out forwards;
    transform-origin: bottom left;
    transform: scaleY(0);
    opacity: 0;
    /* display: none; */
}

.playerstt {
    display: flex;
    position: relative;
    margin-bottom: 14px;
    gap: 10px;
}

.question-currentplayer {
    display: flex;
    justify-content: space-between;
}

.pointQP {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.questionPackList {
    display: flex;
    margin-top: 18vh;
    flex-direction: row;
    gap: 10px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.competition-name {
    font-family: 'UTM-Neutra';
    font-size: 120px;
    font-weight: bold;
    color: white;
    padding: 120px;
    text-align: center;
}