/* Thay đổi màu body */



body {
    background-color: #121921;
    margin: 0px;
}

.header {
    position: fixed;
    background-color:#121921;
    width: 100%;
    height: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.superscript {
    position: relative;
    top: -0.5em;
    font-size: 40%;
}


/* .avatar {

    margin-left: 10px;
    width: 350px;
    height: 450px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
} */


.match-css {
    display: fixed;
    margin: auto;
    width: 300px;
    height: 20px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 90px;
    top: 400px;
}


.inline {
    display: flex;
    position: absolute;
}

.header-title {
    position: absolute;
    margin-top: 18px;
    margin-left: 0px;
    font-size: 20px;
    position: absolute;
    color: black;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    left: 110px;
    color: #ffffff;
    z-index: 1;
}

#product_image{
    position: absolute;
    color: black;
    width: 40px;
    text-align: left;
    top:13px;
    left: 50px;
    color: #ffffff;
    z-index: 1;
}

.returnbutton {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 40px;
    width: 120px;
    height: 39px;
    background: #036768;
    border-radius: 10px;
    display: block;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.joinmatchbutton:hover {
    cursor: pointer;
    background-color:rgba(0,0,0,0.5);
  }

#backtomain {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color:white;
    margin-top: 10px;
}

#name {
    position: absolute;
    text-align: center;
    width: 230px;
    margin-left: 320px;
    z-index: 1;
}

#password {
    position: absolute;
    text-align: center;
    width: 230px;
    margin-left: 320px;
    z-index: 1;
}

.user-name{
    position: absolute;
    margin-top: 200px;
    color: black;
    width: 480px;
    color: white;
}

.password{
    position: absolute;
    margin-top: 290px;
    color: black;
    width: 480px;
    color: white;
}


.confirm{
    position: absolute;
    margin-top: 202px;
    margin-left: 560px;
    background-color: #31B3B5;
    outline: none;
    border: none;
    border-radius: 25px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
}

.confirm:hover{
    background-color:rgba(0,0,0,0.5);
}

.confirm-password{
    position: absolute;
    margin-top: 290px;
    margin-left: 560px;
    background-color: #31B3B5;
    outline: none;
    border: none;
    border-radius: 25px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
}

.confirm-password:hover{
    background-color:rgba(0,0,0,0.5);
}



#changenamecfbtn {
    background-color: #053F5E;
}

#changeavatarcfbtn {
    background-color: #053F5E;
    margin-top: 10px;
}

.description {
    font-size: 19px;
    font-weight: bold;
}

#update-success {
    color: hsl(230, 30%, 31%);
}

#update-fail {
    color: red;
}

#img {
    background-color: #31B3B5;
    position: absolute;
    width: 200px;
    height: 190px;
    object-fit: cover;
    border: 3px solid #31B3B5;
    border-radius: 50%;
    left: 0; 
    right: 0; 
    margin-left:32px;
    margin-top: 200px;
    cursor: pointer;
}

#gallery-edit{
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    left: 0; 
    right: 0; 
    margin-left:110px;
    margin-top: 270px;
    cursor: pointer;
    display: none;
}

#img:hover{
    -webkit-filter: brightness(80%); /* Safari 6.0 - 9.0 */
    filter: brightness(80%);
}

#img:hover ~ #gallery-edit{
    display:block;
}
.avatar-title{
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    margin-top: 140px;
    font-size: 25px;
    margin-left: 30px;
    padding-bottom: 5px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.info-title{
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    margin-top: 140px;
    font-size: 25px;
    margin-left: 330px;
    padding-bottom: 5px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.password-title{
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    margin-top: 250px;
    font-size: 25px;
    margin-left: 330px;
    padding-bottom: 5px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.current-match-title{
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    margin-top: 85px;
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 32px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notification{
    position: fixed; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
    z-index: 1;
}

@keyframes in {
    0% {
        position: fixed;
        bottom:0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom:60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom:35px;
        visibility: visible;
    }
}

#notification-text{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-family: 'Baloo 2', cursive;
}

p {
    font-family: 'Baloo 2', cursive;
}


input[type=file] {
display: none;
  }

input[type=text] {
    border-radius: 25px;
    height: 30px;
    background-color: #31B3B5;
    color: white;
    font-weight: bold;
    border: none;
  }

  input[type=text]:focus{
    border: 1px solid white;
    outline: none;
  }

  button{
    font-family: 'Baloo 2', cursive;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }