body {
    font-family: 'Cabin', sans-serif;
    background-color: #121921;
    overflow-x: hidden;
}


@font-face {
    font-family: 'icomoon';
    font-weight: 900;
    src: url('../../fonts/vuesax/vuesax.ttf');
}

.header {
    position: absolute;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    width: 100%;
    height: 45px;
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.nav-wrapper {
    background-color:#121921;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#matchchoose-name {
    font-family: 'Baloo 2', cursive;
    color: lightblue;
}

.modal-description {
    font-size: 30px;
    color: white;
}

.modal-require {
    background-color: red;
    color: white;
}

.close {
    color: white;
    right: 0;
    position: absolute;
    margin-top: 50px;
    margin-right: 10px;
}

.close1 {
    color: white;
    right: 0;
    position: absolute;
    margin-top: 50px;
    margin-right: 10px;
}

.close:hover {
    cursor: pointer;
}

.close1:hover {
    cursor: pointer;
}


#img {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    right: 250px;
    top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    border: 3px solid #036768;
    padding:2px;
}

.modal{
    
}


#role-info {
    position: absolute;
    color: white;
    font-size: 29px;
    font-weight: normal;
    margin-left: 222px;
    margin-top: 88px;
}

#match-choose {
    position: absolute;
    margin-top: 142px;
    margin-left: 30px;
    color: #009A9C;
    display: none;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
}

.main-panel{
    cursor: pointer;
    width: 120px;
    background-color: #022C43;
}
/* .main-panel p:hover{
    background-color: #036768;
    border-radius: 10px;
} */

#success-choosematch {
    display: none;
    color: lightblue;
}

#fail-choosematch {
    display: none;
    color: red;
}

#success-creatematch {
    display: none;
    color: lightblue;
}

#failed-creatematch {
    display: none;
    color: red;
}

.btn-join {
    background-color: hsl(230, 30%, 31%);
}

.positionchoose {
    background-color: #022C43;
}

.admin-btn-description {
    font-family: 'Cabin', sans-serif;
}

.create {
    color: white;
    display: none;
    margin-left: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.create:hover {
    cursor: pointer;
}

#joinmatchbtn {
    color:white;
    margin-top: 10px;
}

#username-info {
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    color: white;
    z-index: 1;
    right: 80px;
    width: 160px;
    white-space: nowrap;
    animation-fill-mode: forwards;
    overflow: hidden;
    text-overflow: ellipsis;
}

#arrow{
    position: absolute;
    width: 25px;
    top:23px;
    right: 38px;
    z-index: 1;
}

#role {
    position: absolute;
    color: white;
    font-family: 'icomoon';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    z-index: 1;
    right: 10px;
    font-weight: 900;
}




#role-icon {
    position: absolute;
    color: white;
    font-family: 'icomoon';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    z-index: 1;
    right: 10px;
}

#product_name{
    position: absolute;
    color: white;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: left;
    left: 110px;
    z-index: 1;
}

#product_image{
    position: absolute;
    color: black;
    width: 40px;
    text-align: left;
    top:13px;
    left: 50px;
    color: #ffffff;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* .signoutbutton {
    position: absolute;
    right: 0;
    height: 180px;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-right: 110px solid white;
    z-index: 1;
} */

/* #signoutbtn {
    color: hsl(230, 30%, 31%);
    position: absolute;
    left: 50px;
    bottom: -35px;
} */

#matchname {
    color: #009A9C;
    font-family: 'Baloo 2', cursive;
}

#hostname {
    color: #009A9C;
    font-family: 'Baloo 2', cursive;
}

#matchid {
    color: #009A9C;
    font-family: 'Baloo 2', cursive;
}

/* Body */

.current-match-title {
    color: white;
    position: absolute;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 30px;
    padding-bottom: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.joinmatchbutton {
    position: absolute;
    top: 13px;
    right: 320px;
    width: 120px;
    height: 39px;
    background: #036768;
    border-radius: 10px;
    z-index: 1;
    display: none;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.joinmatchbutton:hover {
    background-color:rgba(0,0,0,0.5);
  }

.signoutbutton {
    position: absolute;
    right: 0;
    height: 180px;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-right: 110px solid white;
    z-index: 1;
}

/* .current-match-title:hover {

} */

.joinmatchbutton:hover {
    cursor: pointer;
}

.signoutbutton:hover {
    cursor: pointer;
}

/* #myBtn2 {
    position: absolute;
    margin-top: 280px;
    margin-left: 40px;
    color: lightblue;
    display: none;
} */

.slash {
    position: fixed;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

/* .control {
    position: fixed;
    margin-top: 280px;
    margin-left: 280px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

.admin {
    font-family: 'Cabin', sans-serif;
}

/* #myBtn2:hover {
    border-bottom: 4px solid white;
    padding-bottom: 5px;
    cursor: pointer;
    -webkit-animation: dude .75s 1 forwards;
    animation: dude .75s 1 forwards;
} */

/* #control:hover {
    border-bottom: 4px solid white;
    padding-bottom: 4px;
    cursor: pointer;
    -webkit-animation: dude .75s 1 forwards;
    animation: dude .75s 1 forwards;
} */

@-webkit-keyframes dude {
    0% {
        width: 0;
    }

    100% {
        width: 14.5%;
    }
}

@keyframes dude {
    0% {
        width: 0;
    }

    100% {
        width: 14.5%;
    }
}

/* .empty{
    width: 300px;
    height: 380px;
    position: absolute;
} */

.match-list-1 {
    display: flex;
    margin-top: 310px;
    margin-left: 20px;
    color: white;
    position: absolute;
    overflow-wrap: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.match-list {
    display: flex;
    margin-top: 330px;
    position: absolute;
    overflow-wrap: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.match-list>br {
    width: 100%;
    content: '';
}

.ul_top_hypers {
    display: flex;
    flex-wrap: wrap;
}

.match-item {
    width: 200px;
    height: 150px;
    background-color: #115173;
    border-radius: 9px;
    margin-top: 15px;
    cursor: pointer;
}

input {
    color: white;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 56, 58);
}

.match-list>*+* {
    margin-left: 8px;
}

.ul_top_hypers>*+* {
    margin-left: 10px;
}

.joinbtn {
    padding-top: 10px;
}

.rightbtn {
    margin-top: 70px;
    margin-left: 9px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
   
    .nav-wrapper {
        background-color:#121921;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
   
    .joinmatchbutton {
        position: absolute;
        top: 90px;
        right: 30px;
        width: 120px;
        height: 39px;
        background: #036768;
        border-radius: 10px;
        z-index: 1;
        display: none;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    .modal-content {
        z-index: 1;
    }

    #myBtn {
        display: none;
    }

    #signoutbtn {
        color: hsl(230, 30%, 31%);
        position: absolute;
        left: 50px;
        bottom: -35px;
        display: none;
    }

    #arrow{
        position: absolute;
        width: 20px;
        top:23px;
        right: 20px;
        z-index: 1;
    }

    #img {
        width: 40px;
        height: 40px;
        right: 47px;
        margin-top: 0px;
        border-radius: 50%;
        padding:2px;
        border: 3px solid #036768;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #username-info {
        position: absolute;
        color: white;
        font-family: 'Baloo 2', cursive;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.59;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin-left: 140px;
        cursor: default;
        display: none;
    }

    #role-info {
        position: absolute;
        color: white;
        font-size: 20px;
        font-weight: normal;
        margin-left: 140px;
        margin-top: 50px;
    }

    #match-choose {
        position: absolute;
        font-size: 10px;
        max-width: 320px;
        margin-top: 140px;
        margin-left: 30px;
        color: #009A9C;
        display: none;
    }

    #matchname {
        color: #009A9C;
    }

    #hostname {
        color: #009A9C;
    }

    .current-match-title {
        position: absolute;
        color: white;
        margin-top: 100px;
        margin-left: 30px;
        padding-bottom: 5px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* #myBtn2 {
        position: absolute;
        margin-top: 210px;
        margin-left: 30px;
        color: lightblue;
        display: none;
    } */

    /* .control {
        position: fixed;
        margin-top: 250px;
        margin-left: 32px;
        color: white;
    } */

    .match-list {
        display: flex;
        margin-top: 320px;
        position: absolute;
        overflow-wrap: auto;
    }

    .match-list-1 {
        display: flex;
        margin-top: 290px;
        margin-left: 20px;
        color: white;
        position: absolute;
        overflow-wrap: auto;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .signoutbutton {
        display: none;
    }

    /* #myBtn2:hover {
        border-bottom: 0px solid white;
        padding-bottom: 0px;
        cursor: pointer;
        -webkit-animation: dude .75s 1 forwards;
        animation: dude .75s 1 forwards;
    } */

    /* #control:hover {
        border-bottom: 0px solid white;
        padding-bottom: 0px;
        cursor: pointer;
        -webkit-animation: dude .75s 1 forwards;
        animation: dude .75s 1 forwards;
    } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}

#product-logo {
    width: 44px;
    height: 44px;
    margin-left: 15px;
    margin-top: 10px;
}

#product-name {
    margin-top: 25px;
    position: absolute;
    margin-left: 10px;
}

.sidenav-item {
    cursor: pointer;
}


@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

.password.key {
    font-family: 'password';
}

.match-id {
    text-align: center;
    position: absolute;
    color: #23d8ec;
    width: 200px;
}

.match-name {
    text-align: center;
    font-size: 15px;
    color: white;
    position: absolute;
    width: 200px;
    margin-top: 40px;
}

.match-host-name {
    text-align: center;
    color: lightblue;
    position: absolute;
    width: 200px;
    margin-top: 110px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.joinform {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 300px;
    margin-top: 0px;
    margin-left: -150px;
}

.match-enter {
    text-align: center;
    background-color: #171E28;
    padding: 10px;
    border-radius: 10px;
}

.dropdown_content{
    display: block;
    width: 270px;
    display: none;
    background-color: #171E28;
    border: 3px solid white;
    z-index: 1;
    position: absolute;
    margin-top: 70px;
    right: 24px;
    border-radius: 10px;
    transition-timing-function: ease-in;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.dropdown_content_item{
    z-index: 1;
    cursor: pointer;
    color:white;
    width: 267px;
    height: 33px;
    text-align: center;
    border-bottom: white solid 1.8px;
}
.dropdown_content_item_last{
    z-index: 1;
    cursor: pointer;
    color:white;
    width: 270px;
    height: 33px;
    text-align: center;
}


.notification{
    position: fixed; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
    z-index: 1;
}

@keyframes in {
    0% {
        position: fixed;
        bottom:0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom:60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom:35px;
        visibility: visible;
    }
}

#notification-text{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-family: 'Baloo 2', cursive;
}

#myModal{
    z-index: 30;
    margin-top: 90px;
    border-radius: 10px;
}

#myModal2{
    margin-top: 90px;
    border-radius: 10px;
}

.modal-content {
    background-color: #171E28;
}

#close {
    width: 30px;
    position: absolute;
    bottom:85px;
}
#close1 {
    width: 30px;
    position: absolute;
    bottom: 300px;
}


input[type=text] {
    border: 1px solid white;
    border-radius: 25px;
    height: 30px;
    background-color: #31B3B5;
    color: #31B3B5;
    text-align: center;
    font-weight: bold;
  }

  #modal1{
    border-radius: 10px;
  }

  p{
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
  }
  a{
    font-family: 'Baloo 2', cursive;
  }
  .copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
    font-size: 14px;
  }
