body {
    background-color: #121921;
    font-family: 'Baloo 2', cursive;
}

.brand {
    padding-left: 20px;
    padding-top: 20px;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.brand-text {
    display: inline-block;
    font-size: 15px;
    font-family: 'Baloo 2', cursive; 
       color: #7FB0E0
}

.header {
    position: fixed;
    background-color: #121921;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100px;
    left: 1px;
    top: 0px;
}

#matchname {
    color: white;
    position: fixed;
    font-size: 35px;
    top: -19px;
    left: 19px
}

#hostname {
    color: white;
    font-weight: 100;
    position: fixed;
    font-size: 14px;
    top: 50px;
    left: 19px
}

.superscript {
    position: relative;
    top: -0.5em;
    font-size: 40%;
}


.multichat {
    width: 1200px;
    height: 550px;
    margin: left;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    overflow-y: scroll;
}

.player {
    width: 250px;
    height: 550px;
    margin-right: 15px;
    right: 10px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
}


.match-css {
    display: fixed;
    margin: auto;
    width: 300px;
    height: 20px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 90px;
    top: 400px;
}

.button-intomatch {
    position: absolute;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.button-logout {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}



.inline-result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chat {
    margin-left: 12px;
    margin-top: 30px;
    width: auto;
}

.chatbar {
    width: 1460px;
    height: 20px;
    border-radius: 5px;
    border: 3px solid #000000;
}

.pointinm {
    position: fixed;
    margin-left: 200px;
    font-weight: bold;
}

.leavebutton {
    width: 100px;
    height: 34px;
    text-align: center;
    background: #036768;
    position: absolute;
    top: 16px;
    color: white;
    right: 10px;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
}

#thoattranbtn {
    color: white;
    font-size: 15px;
    margin-top: 7px;
    font-weight: bold;
}

.leavebutton:hover {
    background-color:rgba(0,0,0,0.5);
}


.imgts {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    border-radius: 25px;
    object-fit: cover;
}

.tsname {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Baloo 2', cursive;
}

.pointts {
    text-align: center;
    color: white;
    font-family: 'Baloo 2', cursive;
    font-size: 32px;
}