* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.competitor-name-container,
.competitor-point-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .competitor-name-container::before,
.competitor-point-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
    pointer-events: none;
}
 */

.neon-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
    pointer-events: none;
}

.competitor-name-container {
    background-color: #26d2ff;
    height: 25vh;
}

.competitor-name {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #003484;
    font-size: 7vw;
    text-transform: uppercase;
    z-index: 1;
}

.competitor-point-container {
    background-color: #111a5f;
    height: 75vh;
}

.competitor-point {
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 34vw;
    z-index: 1;
}