@font-face {
    font-family: 'UTM-Neutra';
    src: url('../fonts/UTM-Neutra.ttf') format('truetype');
    /* IE9 Compat Modes */
}




body {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("/img/NewBackground.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.header {
    width: 100%;
    height: 60px;
    background: #f13a4c;
    text-align: center;
    margin: auto;
}

.brand {
    padding-left: 20px;
    padding-top: 20px;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.brand-text {
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7FB0E0
}

.superscript {
    position: relative;
    top: -0.5em;
    font-size: 40%;
}



.multichat {
    width: 1200px;
    height: 550px;
    margin: left;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    overflow-y: scroll;
}

.player {
    width: 250px;
    height: 550px;
    margin-right: 15px;
    right: 10px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
}



.match-css {
    display: fixed;
    margin: auto;
    width: 300px;
    height: 20px;
    border: 3px solid #000000;
    background: white;
    border-radius: 10px;
    padding: 40px;
    padding-left: 90px;
    top: 400px;
}



.button-intomatch {
    position: absolute;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}

.button-logout {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    height: 30px;
    background-color: white;
    margin-right: 10px;
    color: #7FB0E0;
    border-radius: 10px;
    font-weight: bold;
}



.inline {
    display: flex;
    margin: 10px;
}

.object-inline {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 48px;
}

.chat {
    margin-left: 12px;
    margin-top: 30px;
    width: auto;
}

.chatbar {
    width: 1460px;
    height: 20px;
    border-radius: 5px;
    border: 3px solid #000000;
}

.timer {
    border: 4px solid white;
    color: white;
    width: 200px;
    height: 80px;
    background-image: url("/img/backgroundobject.jpg");

    border-radius: 10px;
    margin-left: 100px;
    margin-top: 420px;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time {
    text-align: center;
    font-size: 23px;
    margin-top: 19px;
}

.time3s {
    text-align: center;
    line-height: 8px;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 14px;
}




.images {
    border: 4px solid white;
    color: white;
    position: absolute;
    background-image: url("/img/backgroundobject.jpg");
    width: 520px;
    height: 190px;
    clip-path: polygon(0 0, 92% 0, 100% 19%, 100% 100%, 7% 99%, 0 80%);
    left: 0;
    margin-left: 80px;
    margin-top: 60px;
    text-align: center
}


.currentplayer {
    width: 300px;
    height: 50px;
    font-weight: lighter;
    font-size: 28px;
    text-align: center;
    line-height: 130px;
    border-radius: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.point {
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin-right: 9px;
    text-align: center;
    line-height: 117px;
    font-size: 35px;
    border-radius: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playerdash {
    border-style: solid;
    border-radius: 25px;
    border-color: white;
}

.questions {
    color: white;
    overflow-y: none;
    padding: 8px;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px solid white;
    width: 65vw;
    min-height: 30vh;
    margin-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* clip-path: polygon(0 0, 94% 0, 100% 12%, 100% 100%, 7% 100%, 0 89%); */
    border-radius: 14px;
    backdrop-filter: blur(9px);
    animation: zoomIn 0.75s ease-out forwards;
    transform-origin: top left;
    transform: scaleY(0);
    opacity: 0;
    position: relative;
    animation-delay: 1s;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ts-box {
    color: white;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background: linear-gradient(98deg, rgba(0, 56, 127, 1) 0%, rgba(0, 177, 255, 1) 150%);
    border: 4px solid white;
    border-radius: 14px;
    min-height: 7.15vh;
    opacity: 0;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
    /* Start with the element hidden */
    animation: fadeIn 1s forwards;
    /* Apply the fadeIn animation */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Apply delays to each .ts-box */
#chuong:nth-child(1) {
    animation-delay: 1.1s;
}

.ts-box:nth-child(2) {
    animation-delay: 1.3s;
}

.ts-box:nth-child(3) {
    animation-delay: 1.5s;
}

.ts-box:nth-child(4) {
    animation-delay: 1.7s;
}

.ts-box:nth-child(5) {
    animation-delay: 1.9s;
}


.ts-list {
    min-height: 32vh;
    width: 22vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
}



.qs {
    margin-top: 1vw;
    font-size: calc(1.1em + 1vmin);
    line-height: 1.3em;
}



.tsimage {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tskhoidong {
    width: 130px;
    height: 130px;
    margin-top: 30px;
    margin-left: 25px;
    border-radius: 50%;
    object-fit: cover;
}


.qsnum {
    font-size: calc(0.7em + 1vmin);
    margin-left: 15px;
    font-weight: medium;
}


.pre-class {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 56, 58);
}



.pre-answer {
    display: table;
    border: 4px solid white;
    color: white;
    width: 350px;
    height: 97px;
    background-image: url("/img/backgroundobject.jpg");
    border-radius: 14px;
    /* clip-path: polygon(0 0, 91% 0, 100% 28%, 100% 99%, 7% 100%, 0 69%); */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.as {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    max-width: 330px;
    font-size: 23px;
    color: white;
    text-align: center;
}


/* .ts-box {
    display: flex;
    align-items: center;
    vertical-align: middle;
    background: url("/img/backgroundobject.jpg");
    border: 4px solid white;
    border-radius: 14px;
    min-height: 8vh;
} */

.tsimg {
    border-radius: 50%;
    object-fit: cover;
    width: 2vw;
    height: 2vw;
    margin-left: 15px;
}

.tsname {
    font-weight: 300;
    margin-left: 10px;
    font-size: calc(0.8em + 1vmin);
}

.tspoint {
    margin-left: auto;
    font-size: calc(1.2em + 1vmin);
    margin-right: 10px;
}

#chuong {
    outline: none;
    min-width: 14vw;
    font-size: calc(0.6em + 1vmin);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 8vh;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    background: linear-gradient(101deg, rgba(38, 169, 225, 1) 0%, rgba(66, 132, 234, 1) 96%);
    border-radius: 14px;
    border: 4px solid white;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-bottom: 10px;
    animation: fadeIn 1s forwards;
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Add margin to separate it from the question list */
}


#chuong:hover {
    cursor: pointer;
}

.timer-3s {
    border: 4px solid white;
    color: white;
    width: 70px;
    height: 70px;
    background-image: url("/img/backgroundobject.jpg");
    position: absolute;
    border-radius: 50%;
    margin-left: 220px;
    margin-bottom: 180px;
    /* border: 3px solid #000000; */
    animation-fill-mode: forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* @media (-webkit-min-device-pixel-ratio: 1.50) and (display-mode: fullscreen) {
    .ts-list{
        margin-top: 100px;
    }
    .questions{
        margin-top: 100px;

    }
} */




/* @media (-webkit-min-device-pixel-ratio: 1.50) {
    .inline{
        margin: 0px;
    }
} */

.notification {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #009A9C;
    bottom: 35px;
    animation-name: in;
    animation-duration: 0.3s;
    display: none;
}

@keyframes in {
    0% {
        position: fixed;
        bottom: 0px;
        visibility: hidden;
    }

    80% {
        position: fixed;
        bottom: 60px;
        visibility: visible;
    }

    100% {
        position: fixed;
        bottom: 35px;
        visibility: visible;
    }
}

#notification-text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    font-family: 'Baloo 2', cursive;
}

#time3s {
    position: absolute;
    font-size: 48px;
    bottom: 0;
    right: 0;
}

.question-listplayer {
    display: none;
    justify-content: space-between;
}

.competition-name {
    font-family: 'UTM-Neutra';
    font-size: 8vw;
    font-weight: bold;
    color: white;
    padding: 120px;
    text-align: center;
}