@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FzPoppins/FZ\ Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/FzPoppins/FZ\ Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/FzPoppins/FZ\ Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/FzPoppins/FZ\ Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/FzPoppins/FZ\ Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/FzPoppins/FZ\ Poppins-Black.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/FzPoppins/FZ\ Poppins-Thin.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/FzPoppins/FZ\ Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/FzPoppins/FZ\ Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/FzPoppins/FZ\ Poppins-RegularItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/FzPoppins/FZ\ Poppins-MediumItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/FzPoppins/FZ\ Poppins-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/FzPoppins/FZ\ Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/FzPoppins/FZ\ Poppins-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/FzPoppins/FZ\ Poppins-BlackItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/FzPoppins/FZ\ Poppins-ThinItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/FzPoppins/FZ\ Poppins-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/FzPoppins/FZ\ Poppins-LightItalic.ttf');
}


body {
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
